<container>
<h1>Flats#index</h1>
<p>Find me in app/views/flats/index.html.erb</p>

<ul>
  <% @flats.each do |flat| %>
  <li><%= link_to flat.name , flat_path(flat.id) %><%= flat.name %></li>
  <li><%= cl_image_tag( flat.picture, :gravity=>"face", :height=>280, :width=>400, :x=>0, :crop=>"fill") %>
  <% end %>
</ul>
</container>
<div id="map" data-markers="<%= @markers.to_json %>"></div>
