<container>
<%= @flat.name %>

<p>test</p>

<% @services.each do |service| %>
<%= service.name %>
<% end %>

<h2>Localisation</h2>
</container>
<div id="map" data-markers="<%= @markers.to_json %>"></div>
