<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-profil">
        <h1>Profil#create</h1>
        <p>Find me in app/views/profil/create.html.erb</p>
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
